*.pyc
*.cbTemp
*.chw
*.layout
*.depend
*.pdb
*.cbp.mak
/library/bin
/library/obj
/library/tmp
/library/Makefile
/library/console/bin
/library/console/obj
/library/test/bin
/library/test/obj
/library/doxygen/doc
/library/doxygen/html
/library/doxygen/latex
/modules/Eigen/bin
/modules/Eigen/obj
/modules/Java/bin
/modules/Java/obj
/modules/Java/Makefile
/modules/hello/bin
/modules/hello/obj
/modules/hello/Makefile
/richmath/dependencies/linux
/richmath/dependencies/windows
/richmath/bin
/richmath/obj
/richmath/Makefile
/Makefile

/richmath/WINDOWSTEMPDIR_FONTCONFIG_CACHE

/richmath/*.cscope_file_list
/library/depencies
