*.pyc
*.cbTemp
*.chw
*.layout
*.depend
*.pdb
/library/bin
/library/obj
/library/console/bin
/library/console/obj
/library/test/bin
/library/test/obj
/library/doxygen/doc
/library/doxygen/html
/library/doxygen/latex
/modules/Eigen/bin
/modules/Eigen/obj
/modules/Java/bin
/modules/Java/obj
/modules/hello/bin
/modules/hello/obj
/richmath/bin
/richmath/obj
