#define _WIN32_WINNT 0x600 

#include <windows.h>
#include "resources.h"

1 24 "Windows.manifest"

CUR_TEXT_N   CURSOR "text_beam_n.cur"
CUR_TEXT_NW  CURSOR "text_beam_nw.cur"
CUR_TEXT_W   CURSOR "text_beam_w.cur"
CUR_TEXT_SW  CURSOR "text_beam_sw.cur"
CUR_TEXT_S   CURSOR "text_beam_s.cur"
CUR_TEXT_SE  CURSOR "text_beam_se.cur"
CUR_TEXT_E   CURSOR "text_beam_e.cur"
CUR_TEXT_NE  CURSOR "text_beam_ne.cur"
CUR_SECTION  CURSOR "section_beam.cur"
CUR_DOCUMENT CURSOR "document_beam.cur"
CUR_NOSELECT CURSOR "no_select.cur"

ACC_TABLE ACCELERATORS
{
  "X",           IDM_CUT,                CONTROL, VIRTKEY
  "C",           IDM_COPY,               CONTROL, VIRTKEY
  "V",           IDM_PASTE,              CONTROL, VIRTKEY
  "E",           IDM_EDITBOXES,          CONTROL, SHIFT, VIRTKEY
  VK_OEM_PERIOD, IDM_EXPANDSELECTION,    CONTROL, VIRTKEY
  "B",           IDM_FINDMATCHINGFENCE,  CONTROL, SHIFT, VIRTKEY
  VK_OEM_6,      IDM_FINDMATCHINGFENCE,  CONTROL, VIRTKEY /* as in Visual Studio: CTRL+] on US keyborads, CTRL+´ on DE keybords */
  "A",           IDM_SELECTALL,          CONTROL, VIRTKEY
  VK_OEM_7,      IDM_OPENCLOSEGROUP,     CONTROL, VIRTKEY /* US: Ctrl+', DE: Ctrl+Ä */
  
  "L",           IDM_DUPLICATEPREVIOUSINPUT,  CONTROL, VIRTKEY
  "L",           IDM_DUPLICATEPREVIOUSOUTPUT, CONTROL, SHIFT, VIRTKEY
  VK_OEM_COMMA,  IDM_INSERTCOLUMN,            CONTROL, VIRTKEY
  VK_DIVIDE,     IDM_INSERTFRACTION,          CONTROL, VIRTKEY
//  "^/",          IDM_INSERTFRACTION
  "7",           IDM_INSERTFRACTION,          CONTROL, SHIFT, VIRTKEY
  "5",           IDM_INSERTOPPOSITE,          CONTROL, VIRTKEY
  "7",           IDM_INSERTOVERSCRIPT,        CONTROL, VIRTKEY
  "2",           IDM_INSERTRADICAL,           CONTROL, VIRTKEY
  VK_RETURN,     IDM_INSERTROW,               CONTROL, VIRTKEY
  VK_OEM_MINUS,  IDM_INSERTSUBSCRIPT,         CONTROL, VIRTKEY
  VK_OEM_5,      IDM_INSERTSUPERSCRIPT,       CONTROL, VIRTKEY
  "6",           IDM_INSERTSUPERSCRIPT,       CONTROL, VIRTKEY
  VK_OEM_PLUS,   IDM_INSERTUNDERSCRIPT,       CONTROL, VIRTKEY
  VK_RETURN,     IDM_SIMILARSECTIONBELOW,     ALT, VIRTKEY
  
  VK_RETURN,    IDM_EVALUATEINPLACE,             CONTROL, SHIFT, VIRTKEY
  VK_RETURN,    IDM_EVALUATESECTIONS,            SHIFT, VIRTKEY
  VK_F7,        IDM_SUBSESSIONEVALUATESECTIONS,  VIRTKEY
  VK_OEM_COMMA, IDM_EVALUATORSUBSESSION,         ALT, VIRTKEY
  VK_ESCAPE,    IDM_EVALUATORABORT,              SHIFT, VIRTKEY
}

MENU_MAIN MENU 
{ 
  POPUP "&File" 
  { 
    MENUITEM "&Close\tAlt+F4", SC_CLOSE
  }
  
  POPUP "&Edit" 
  { 
    MENUITEM "&Cut\tCtrl+X",                         IDM_CUT
    MENUITEM "&Copy\tCtrl+C",                        IDM_COPY
    MENUITEM "&Paste\tCtrl+V",                       IDM_PASTE
    MENUITEM SEPARATOR
    MENUITEM "&Edit Boxes\tCtrl+Shift+E",            IDM_EDITBOXES
    MENUITEM "E&xpand Selection\tCtrl+.",            IDM_EXPANDSELECTION
    MENUITEM "Select &All\tCtrl+A",                  IDM_SELECTALL
    MENUITEM "Find &Matching Bracket\tCtrl+Shift+B", IDM_FINDMATCHINGFENCE
    MENUITEM SEPARATOR
    MENUITEM "&Open/Close Group\tCtrl+'",            IDM_OPENCLOSEGROUP
  }
  
  POPUP "&Insert"
  {
    MENUITEM "&Input from Above\tCtrl+L",           IDM_DUPLICATEPREVIOUSINPUT
    MENUITEM "&Output from Above\tCtrl+Shift+L",    IDM_DUPLICATEPREVIOUSOUTPUT
    MENUITEM "Section with Same St&yle\tAlt+Enter", IDM_SIMILARSECTIONBELOW
    MENUITEM SEPARATOR
    MENUITEM "&Fraction\tCtrl+/",                   IDM_INSERTFRACTION
    MENUITEM "R&adical\tCtrl+2",                    IDM_INSERTRADICAL
    MENUITEM SEPARATOR
    MENUITEM "Su&bscript\tCtrl+-",                  IDM_INSERTSUBSCRIPT
    MENUITEM "Su&perscript\tCtrl+^",                IDM_INSERTSUPERSCRIPT
    MENUITEM "O&verscript\tCtrl+7",                 IDM_INSERTOVERSCRIPT
    MENUITEM "&Underscript\tCtrl++",                IDM_INSERTUNDERSCRIPT
    MENUITEM "&Opposite Position\tCtrl+5",          IDM_INSERTOPPOSITE
    MENUITEM SEPARATOR
    MENUITEM "Table &Column\tCtrl+,",               IDM_INSERTCOLUMN
    MENUITEM "Table &Row\tCtrl+Enter",              IDM_INSERTROW
  }
  
  POPUP "Fo&rmat"
  {
    MENUITEM "Cambria Math Shaper",      IDM_CAMBRIAMATHSHAPER
    MENUITEM "Mathematica Mono Shaper",  IDM_MATHEMATICAMONOSHAPER
    MENUITEM "Mathematica Serif Shaper", IDM_MATHEMATICASHAPER
    MENUITEM "Asana Math Shaper",        IDM_ASANAMATHSHAPER
    MENUITEM "Neo Euler Shaper",         IDM_NEOEULERSHAPER
    MENUITEM "XITS Math Shaper",         IDM_XITSMATHSHAPER
  }
  
  POPUP "E&valuation"
  {
    MENUITEM "&Evaluate Sections\tShift+Enter",      IDM_EVALUATESECTIONS
    MENUITEM "Evaluate in &Place\tCtrl+Shift+Enter", IDM_EVALUATEINPLACE
    MENUITEM "E&valuate in Subsession\tF7",          IDM_SUBSESSIONEVALUATESECTIONS
    MENUITEM SEPARATOR
    MENUITEM "Enter &Subsession",                    IDM_EVALUATORSUBSESSION
    MENUITEM "&Abort\tShift+Esc",                    IDM_EVALUATORABORT
  }
} 
