#define _WIN32_WINNT 0x600 

#include <windows.h>
#include "resources.h"

1 24 "Windows.manifest"

CUR_TEXT_N   CURSOR "text_beam_n.cur"
CUR_TEXT_NW  CURSOR "text_beam_nw.cur"
CUR_TEXT_W   CURSOR "text_beam_w.cur"
CUR_TEXT_SW  CURSOR "text_beam_sw.cur"
CUR_TEXT_S   CURSOR "text_beam_s.cur"
CUR_TEXT_SE  CURSOR "text_beam_se.cur"
CUR_TEXT_E   CURSOR "text_beam_e.cur"
CUR_TEXT_NE  CURSOR "text_beam_ne.cur"
CUR_SECTION  CURSOR "section_beam.cur"
CUR_DOCUMENT CURSOR "document_beam.cur"
CUR_NOSELECT CURSOR "no_select.cur"


BMP_PIN BITMAP "pin.bmp"
